<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--This is to keep your information safe and private-->
  <add key="EmailClient" value="mail.ashleynichole.net"/>

  <add key="EmailUser" value="no-reply@ashleynichole.net"/>

  <add key="EmailPass" value="Trevor!20"/>

  <add key="EmailTo" value="asashley21@gmail.com"/>

</appSettings>